.p-About.Flex747 {
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 30px;
width: 1903px;
height: 43px;
font-size: 18px;
color: #696969;
align-items: center;
font-family: DM Sans;
}
.p-About.Flex745 {
display: flex;
width: 300.6px;
height: 43px;
justify-content: flex-start;
font-family: ;
font-weight: 700;
font-size: 16px;
column-gap: 30px;
}
.p-About.Flex746 {
display: flex;
box-sizing: border-box;
width: 631.11px;
height: 33px;
align-items: center;
justify-content: space-around;
column-gap: 30px;
}
.p-About.Flex744 {
display: flex;
width: 357.11px;
height: 24px;
justify-content: space-around;
align-items: center;
column-gap: 30px;
font-family: DM Sans;
font-weight: 500;
}
.p-About.Flex748 {
display: flex;
width: 1903px;
height: 486.36px;
justify-content: space-around;
box-sizing: border-box;
}
.p-About.Flex749 {
display: flex;
width: 70%;
height: ;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 20px;
}
.p-About.Flex750 {
display: flex;
width: 30%;
height: ;
align-items: center;
justify-content: center;
}
.p-About.Flex751 {
display: flex;
width: 1903px;
height: 495.09px;
box-sizing: border-box;
}
.p-About.Flex752 {
display: flex;
width: 70%;
height: ;
justify-content: center;
padding-right: 100px;
padding-bottom: 100px;
background-color: #FF7629;
margin-bottom: ;
}
.p-About.Flex757 {
display: flex;
width: 1903px;
height: 140px;
align-items: center;
justify-content: center;
position: relative;
bottom: 50px;
}
.p-About.Flex758 {
display: flex;
background-color: #ffffffff;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-style: solid;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 50px;
z-index: 5;
column-gap: 40px;
border-color: #bcbcbc;
}
.p-About.Flex763 {
display: flex;
width: 1903px;
height: ;
background-color: #FFF9F3;
flex-direction: column;
row-gap: 25px;
padding-bottom: 150px;
position: relative;
bottom: 134px;
padding-top: 170px;
}
.p-About.Flex764 {
display: flex;
width: 1903px;
height: 511.31px;
column-gap: 50px;
}
.p-About.Flex765 {
display: flex;
align-items: center;
justify-content: flex-end;
width: 50%;
}
.p-About.Flex766 {
display: flex;
width: 50%;
height: 511.31px;
flex-direction: column;
align-items: flex-start;
justify-content: center;
row-gap: 20px;
}
.p-About.Flex767 {
display: flex;
column-gap: 50px;
width: 1903px;
}
.p-About.Flex769 {
display: flex;
align-items: flex-end;
justify-content: center;
width: 50%;
column-gap: 50px;
height: 511.31px;
flex-direction: column;
row-gap: 20px;
align-content: flex-start;
}
.p-About.Flex774 {
display: inline-flex;
width: 926.5px;
height: 257px;
flex-direction: column;
row-gap: 25px;
align-items: flex-start;
justify-content: center;
align-content: flex-end;
flex-wrap: wrap;
}
.p-About.Flex772 {
display: flex;
width: 50%;
align-items: flex-start;
justify-content: flex-start;
}
.p-About.Flex775 {
display: flex;
width: 1903px;
height: ;
align-items: center;
justify-content: center;
flex-direction: column;
row-gap: 20px;
padding-bottom: 100px;
margin-bottom: ;
}
.p-About.Flex776 {
display: flex;
column-gap: 25px;
width: ;
height: ;
}
.p-About.Flex777 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 15px;
width: 300px;
}
.p-About.Flex780 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 15px;
width: 300px;
}
.p-About.Flex781 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 15px;
width: 300px;
}
.p-About.Flex782 {
display: flex;
width: 1903px;
height: ;
align-items: center;
justify-content: center;
flex-direction: column;
row-gap: 30px;
padding-bottom: 150px;
margin-bottom: ;
}
.p-About.Flex795 {
display: flex;
row-gap: 50px;
padding-bottom: ;
flex-direction: column;
}
.p-About.Flex783 {
display: flex;
column-gap: 40px;
width: ;
height: ;
}
.p-About.Flex787 {
display: flex;
width: 250px;
row-gap: 14px;
flex-direction: column;
align-items: center;
justify-content: center;
}
.p-About.Flex790 {
display: flex;
width: 250px;
row-gap: 14px;
flex-direction: column;
align-items: center;
justify-content: center;
}
.p-About.Flex791 {
display: flex;
width: 250px;
row-gap: 14px;
flex-direction: column;
align-items: center;
justify-content: center;
}
.p-About.Flex784 {
display: flex;
width: ;
height: ;
column-gap: 40px;
}
.p-About.Flex792 {
display: flex;
width: 250px;
row-gap: 14px;
flex-direction: column;
align-items: center;
justify-content: center;
}
.p-About.Flex793 {
display: flex;
width: 250px;
row-gap: 14px;
flex-direction: column;
align-items: center;
justify-content: center;
}
.p-About.Flex794 {
display: flex;
width: 250px;
row-gap: 14px;
flex-direction: column;
align-items: center;
justify-content: center;
}
.p-About.Flex840 {
display: flex;
width: 1703px;
height: ;
background-color: #FFF9F3;
flex-direction: column;
align-items: center;
padding-top: 150px;
padding-right: 100px;
padding-bottom: 150px;
padding-left: 100px;
margin-bottom: ;
}
.p-About.Flex838 {
display: flex;
width: ;
height: ;
column-gap: 30px;
align-items: stretch;
}
.p-About.Flex836 {
display: flex;
width: 310px;
height: 310px;
flex-direction: column;
row-gap: 20px;
}
.p-About.Flex834 {
display: flex;
column-gap: 20px;
}
.p-About.Flex835 {
display: flex;
column-gap: 20px;
width: 310px;
}
.p-About.Flex839 {
display: flex;
width: 100%;
height: ;
align-items: center;
justify-content: space-between;
padding-bottom: 30px;
}
.p-About.Flex837 {
display: flex;
padding-top: 15px;
padding-right: 30px;
padding-bottom: 15px;
padding-left: 30px;
background-color: #FF7629;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-left-radius: 35px;
border-bottom-right-radius: 35px;
border-style: none;
outline-width: 0px;
}
.p-About.Flex860 {
display: flex;
width: 1603px;
height: ;
padding-top: 100px;
padding-right: 150px;
padding-left: 150px;
padding-bottom: 50px;
column-gap: 40px;
justify-content: space-between;
}
.p-About.Flex857 {
display: flex;
height: ;
align-items: flex-start;
width: 206.33px;
padding-left: ;
row-gap: ;
column-gap: ;
}
.p-About.Flex854 {
display: flex;
width: 105.25px;
height: 300px;
flex-direction: column;
row-gap: 10px;
padding-right: 5px;
padding-left: ;
font-family: DM Sans;
font-weight: 500;
font-size: ;
color: #7f7c7c;
}
.p-About.Flex862 {
display: flex;
width: 105.25px;
height: 300px;
flex-direction: column;
row-gap: 10px;
padding-right: 5px;
padding-left: 5px;
font-family: DM Sans;
font-weight: 500;
font-size: ;
color: #7f7c7c;
}
.p-About.Flex858 {
display: flex;
width: 310px;
height: 356px;
flex-direction: column;
row-gap: 20px;
}
.p-About.Flex855 {
display: flex;
width: 310px;
height: 310px;
flex-direction: column;
row-gap: 20px;
}
.p-About.Flex851 {
display: flex;
column-gap: 20px;
width: 310px;
}
.p-About.Flex852 {
display: flex;
column-gap: 20px;
}
.p-About.Flex859 {
display: flex;
width: 641.19px;
height: 356px;
row-gap: 13px;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.p-About.Flex856 {
display: flex;
column-gap: 10px;
}
.p-About.Button133 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.p-About.Button134 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 124.75px;
height: 43px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
top: 10px;
right: 25px;
bottom: 1019px;
box-sizing: border-box;
font-family: DM Sans;
}
.p-About.Image358 {
width: 244px;
height: 33px;
}
.p-About.Link4 {
outline-width: 0px;
font-family: DM Sans;
font-weight: 500;
color: #696969ff;
}
.p-About.Link5 {
color: #696969;
}
.p-About.Link6 {
font-family: DM Sans;
color: #696969;
}
.p-About.TextBox863 {
;
}
.p-About.TextBox864 {
;
}
.p-About.TextBox865 {
width: 55%;
font-family: DM Sans;
font-weight: 700;
font-size: 46px;
}
.p-About.TextBox866 {
width: 55%;
font-family: DM Sans;
font-weight: 500;
color: #4c4c4c;
}
.p-About.Image359 {
width: 400px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
position: relative;
top: 100px;
right: 100px;
}
.p-About.Flex753 {
display: flex;
width: 30%;
height: ;
position: static;
}
.p-About.Image360 {
width: 600px;
border-top-left-radius: 60px;
border-top-right-radius: 60px;
border-bottom-left-radius: 60px;
border-bottom-right-radius: 60px;
position: relative;
bottom: 70px;
height: 395.05px;
}
.p-About.TextBox869 {
font-family: DM Sans;
font-weight: 500;
}
.p-About.Image365 {
;
}
.p-About.Image366 {
;
}
.p-About.Image368 {
;
}
.p-About.Image369 {
;
}
.p-About.Image370 {
width: 530px;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
}
.p-About.TextBox870 {
width: 80%;
font-family: DM Sans;
font-weight: 500;
color: #585656;
}
.p-About.TextBox871 {
font-family: DM Sans;
font-weight: 700;
font-size: 36px;
}
.p-About.TextBox872 {
width: 80%;
font-family: DM Sans;
font-weight: 500;
color: #585656;
}
.p-About.Button135 {
color: #fff;
background-color: #FF7629ff;
padding-top: 15px;
padding-left: 25px;
padding-bottom: 15px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
font-family: DM Sans;
outline-width: 0px;
}
.p-About.TextBox882 {
font-family: DM Sans;
font-weight: 700;
font-size: 36px;
}
.p-About.TextBox883 {
width: 90%;
font-family: DM Sans;
font-weight: 500;
color: #585656;
}
.p-About.TextBox884 {
width: 90%;
font-family: DM Sans;
font-weight: 500;
color: #585656;
}
.p-About.Button139 {
color: #fff;
background-color: #FF7629;
padding-top: 15px;
padding-left: 25px;
padding-bottom: 15px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
font-family: DM Sans;
}
.p-About.Image372 {
width: 530px;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
}
.p-About.TextBox885 {
font-family: DM Sans;
font-weight: 500;
font-size: 32px;
}
.p-About.TextBox886 {
width: 40%;
font-family: DM Sans;
font-weight: 500;
color: #696868;
text-align: center;
}
.p-About.Image373 {
width: 300px;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
}
.p-About.TextBox887 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-About.TextBox888 {
font-family: DM Sans;
color: #FF7629;
}
.p-About.TextBox889 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
text-align: center;
color: #6e6c6c;
}
.p-About.TextBox890 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
text-align: center;
color: #6e6c6c;
}
.p-About.TextBox891 {
font-family: DM Sans;
color: #FF7629;
}
.p-About.TextBox892 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-About.Image374 {
width: 300px;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
}
.p-About.TextBox893 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
text-align: center;
color: #6e6c6c;
}
.p-About.TextBox894 {
font-family: DM Sans;
color: #FF7629;
}
.p-About.TextBox895 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-About.Image375 {
width: 300px;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
}
.p-About.TextBox896 {
width: 40%;
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
text-align: center;
}
.p-About.Image376 {
width: 120px;
}
.p-About.TextBox897 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-About.TextBox898 {
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
text-align: center;
color: #545353;
}
.p-About.TextBox899 {
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
text-align: center;
color: #545353;
}
.p-About.TextBox900 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-About.Image377 {
width: 120px;
}
.p-About.TextBox901 {
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
text-align: center;
color: #545353;
}
.p-About.TextBox902 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-About.Image378 {
width: 120px;
}
.p-About.TextBox903 {
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
text-align: center;
color: #545353;
}
.p-About.TextBox904 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-About.Image379 {
width: 120px;
}
.p-About.TextBox905 {
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
text-align: center;
color: #545353;
}
.p-About.TextBox906 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-About.Image380 {
width: 120px;
}
.p-About.TextBox907 {
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
text-align: center;
color: #545353;
}
.p-About.TextBox908 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-About.Image381 {
width: 120px;
}
.p-About.Image420 {
width: 300px;
height: 300px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-left-radius: 35px;
border-bottom-right-radius: 35px;
}
.p-About.Image421 {
width: 300px;
height: 300px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-left-radius: 35px;
border-bottom-right-radius: 35px;
}
.p-About.Image416 {
width: 145px;
height: 145px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-About.Image417 {
width: 145px;
height: 145px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-About.Image418 {
width: 145px;
height: 145px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-About.Image419 {
width: 145px;
height: 145px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-About.TextBox936 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-About.TextBox935 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #ffffffff;
}
.p-About.TextBox963 {
padding-right: 40px;
padding-bottom: 20px;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
color: #000000;
}
.p-About.TextBox964 {
;
}
.p-About.TextBox965 {
;
}
.p-About.TextBox966 {
;
}
.p-About.TextBox967 {
;
}
.p-About.TextBox968 {
;
}
.p-About.TextBox969 {
;
}
.p-About.TextBox970 {
;
}
.p-About.TextBox981 {
;
}
.p-About.TextBox982 {
;
}
.p-About.TextBox983 {
;
}
.p-About.TextBox984 {
;
}
.p-About.TextBox985 {
;
}
.p-About.TextBox986 {
;
}
.p-About.TextBox987 {
;
}
.p-About.TextBox988 {
padding-right: 40px;
padding-bottom: 20px;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
color: #000000;
}
.p-About.TextBox971 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-About.Image432 {
width: 145px;
height: 145px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-About.Image433 {
width: 145px;
height: 145px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-About.Image434 {
width: 145px;
height: 145px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-About.Image435 {
width: 145px;
height: 145px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-About.TextBox972 {
width: 100%;
font-family: DM Sans;
font-weight: 500;
color: #6a6868;
}
.p-About.Image441 {
;
}
.p-About.Image436 {
width: 30px;
height: 30px;
}
.p-About.Image437 {
width: 30px;
height: 30px;
}
.p-About.Image438 {
width: 30px;
height: 30px;
}
.p-About.Image439 {
width: 30px;
height: 30px;
}
.p-About.Image440 {
width: 30px;
height: 30px;
}
