.p-Menu.Flex866 {
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 30px;
width: 1903px;
height: 43px;
font-size: 18px;
color: #696969;
align-items: center;
font-family: DM Sans;
}
.p-Menu.Flex864 {
display: flex;
width: 300.6px;
height: 43px;
justify-content: flex-start;
font-family: ;
font-weight: 700;
font-size: 16px;
column-gap: 30px;
}
.p-Menu.Flex865 {
display: flex;
box-sizing: border-box;
width: 631.11px;
height: 33px;
align-items: center;
justify-content: space-around;
column-gap: 30px;
}
.p-Menu.Flex863 {
display: flex;
width: 357.11px;
height: 24px;
justify-content: space-around;
align-items: center;
column-gap: 30px;
font-family: DM Sans;
font-weight: 500;
}
.p-Menu.Flex908 {
display: flex;
width: 1903px;
height: ;
flex-direction: column;
row-gap: 10px;
padding-top: 100px;
align-items: center;
margin-bottom: ;
}
.p-Menu.Flex909 {
display: flex;
column-gap: 20px;
padding-top: 25px;
align-items: center;
justify-content: center;
font-family: ;
font-weight: 400;
}
.p-Menu.Flex910 {
display: flex;
flex-direction: column;
row-gap: 30px;
height: ;
}
.p-Menu.Flex903 {
display: flex;
column-gap: 25px;
}
.p-Menu.Flex897 {
display: flex;
width: 520px;
height: 402px;
column-gap: 20px;
}
.p-Menu.Flex893 {
display: flex;
width: 250px;
height: 402px;
flex-direction: column;
row-gap: 10px;
align-items: center;
}
.p-Menu.Flex894 {
display: flex;
width: 250px;
height: 402px;
flex-direction: column;
row-gap: 10px;
align-items: center;
}
.p-Menu.Flex898 {
display: flex;
width: 520px;
column-gap: 20px;
}
.p-Menu.Flex895 {
display: flex;
width: 250px;
height: 402px;
flex-direction: column;
row-gap: 10px;
align-items: center;
}
.p-Menu.Flex896 {
display: flex;
width: 250px;
height: 402px;
flex-direction: column;
row-gap: 10px;
align-items: center;
}
.p-Menu.Flex907 {
display: flex;
column-gap: 25px;
}
.p-Menu.Flex904 {
display: flex;
width: 520px;
column-gap: 20px;
}
.p-Menu.Flex899 {
display: flex;
width: 250px;
height: 402px;
flex-direction: column;
row-gap: 10px;
align-items: center;
}
.p-Menu.Flex900 {
display: flex;
width: 250px;
height: 402px;
flex-direction: column;
row-gap: 10px;
align-items: center;
}
.p-Menu.Flex905 {
display: flex;
width: 520px;
height: 402px;
column-gap: 20px;
}
.p-Menu.Flex901 {
display: flex;
width: 250px;
height: 402px;
flex-direction: column;
row-gap: 10px;
align-items: center;
}
.p-Menu.Flex902 {
display: flex;
width: 250px;
height: 402px;
flex-direction: column;
row-gap: 10px;
align-items: center;
}
.p-Menu.Flex912 {
display: flex;
width: 1903px;
height: 313.58px;
flex-direction: column;
align-items: center;
row-gap: 015px;
margin-bottom: ;
}
.p-Menu.Flex913 {
display: flex;
width: 859px;
height: 210.58px;
flex-direction: column;
row-gap: 20px;
padding-top: 30px;
}
.p-Menu.Flex917 {
display: flex;
justify-content: space-between;
column-gap: 25px;
}
.p-Menu.Flex919 {
display: flex;
width: 150px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
justify-content: center;
}
.p-Menu.Flex923 {
display: flex;
width: 150px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
justify-content: center;
}
.p-Menu.Flex924 {
display: flex;
width: 150px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
justify-content: center;
}
.p-Menu.Flex925 {
display: flex;
width: 150px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
justify-content: center;
}
.p-Menu.Flex918 {
display: flex;
justify-content: space-between;
column-gap: 25px;
}
.p-Menu.Flex926 {
display: flex;
width: 150px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
justify-content: center;
}
.p-Menu.Flex927 {
display: flex;
width: 150px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
justify-content: center;
}
.p-Menu.Flex928 {
display: flex;
width: 150px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
justify-content: center;
}
.p-Menu.Flex929 {
display: flex;
width: 150px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
justify-content: center;
}
.p-Menu.Flex959 {
display: flex;
width: 1603px;
height: ;
padding-top: 200px;
padding-right: 150px;
padding-left: 150px;
padding-bottom: 50px;
column-gap: 40px;
justify-content: space-between;
}
.p-Menu.Flex956 {
display: flex;
width: 641.19px;
height: 356px;
row-gap: 13px;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.p-Menu.Flex952 {
display: flex;
column-gap: 10px;
}
.p-Menu.Flex957 {
display: flex;
width: 310px;
height: 356px;
flex-direction: column;
row-gap: 20px;
}
.p-Menu.Flex953 {
display: flex;
width: 310px;
height: 310px;
flex-direction: column;
row-gap: 20px;
}
.p-Menu.Flex950 {
display: flex;
column-gap: 20px;
}
.p-Menu.Flex951 {
display: flex;
column-gap: 20px;
width: 310px;
}
.p-Menu.Flex958 {
display: flex;
height: ;
align-items: flex-start;
width: 206.33px;
padding-left: ;
row-gap: ;
column-gap: ;
}
.p-Menu.Flex954 {
display: flex;
width: 105.25px;
height: 300px;
flex-direction: column;
row-gap: 10px;
padding-right: 5px;
padding-left: 5px;
font-family: DM Sans;
font-weight: 500;
font-size: ;
color: #7f7c7c;
}
.p-Menu.Flex955 {
display: flex;
width: 105.25px;
height: 300px;
flex-direction: column;
row-gap: 10px;
padding-right: 5px;
padding-left: ;
font-family: DM Sans;
font-weight: 500;
font-size: ;
color: #7f7c7c;
}
.p-Menu.Button140 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.p-Menu.Button141 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 124.75px;
height: 43px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
top: 10px;
right: 25px;
bottom: 1019px;
box-sizing: border-box;
font-family: DM Sans;
}
.p-Menu.Image442 {
width: 244px;
height: 33px;
}
.p-Menu.Link7 {
outline-width: 0px;
font-family: DM Sans;
font-weight: 500;
color: #696969ff;
}
.p-Menu.Link8 {
color: #696969;
}
.p-Menu.Link9 {
font-family: DM Sans;
color: #696969;
}
.p-Menu.TextBox989 {
;
}
.p-Menu.TextBox990 {
;
}
.p-Menu.TextBox1053 {
width: 50%;
text-align: center;
}
.p-Menu.TextBox1054 {
font-family: DM Sans;
font-weight: 700;
font-size: 42px;
}
.p-Menu.Button149 {
color: #000000;
background-color: #ffffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
font-family: DM Sans;
}
.p-Menu.Button150 {
color: #000000;
background-color: #ffffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
font-family: DM Sans;
}
.p-Menu.Button151 {
color: #000000;
background-color: #ffffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
font-family: DM Sans;
}
.p-Menu.Button152 {
color: #000000;
background-color: #ffffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
font-family: DM Sans;
}
.p-Menu.Button153 {
color: #fff;
background-color: #FF7629;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
font-family: ;
width: ;
height: 39px;
}
.p-Menu.Image455 {
width: 250px;
height: 250px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.p-Menu.TextBox1029 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Menu.TextBox1030 {
width: 250px;
height: 50px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
max-height: 100px;
align-self: auto;
text-align: center;
}
.p-Menu.TextBox1031 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
position: relative;
top: 60px;
left: 60px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.TextBox1032 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
position: relative;
top: 60px;
left: 60px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.TextBox1033 {
width: 250px;
height: 50px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
max-height: 100px;
align-self: auto;
text-align: center;
}
.p-Menu.TextBox1034 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Menu.Image456 {
width: 250px;
height: 250px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.p-Menu.TextBox1035 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
position: relative;
top: 60px;
left: 60px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.TextBox1036 {
width: 250px;
height: 50px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
max-height: 100px;
align-self: auto;
text-align: center;
}
.p-Menu.TextBox1037 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Menu.Image457 {
width: 250px;
height: 250px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.p-Menu.TextBox1038 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
position: relative;
top: 60px;
left: 60px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.TextBox1039 {
width: 250px;
height: 50px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
max-height: 100px;
align-self: auto;
text-align: center;
}
.p-Menu.TextBox1040 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Menu.Image458 {
width: 250px;
height: 250px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.p-Menu.Image459 {
width: 250px;
height: 250px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.p-Menu.TextBox1041 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Menu.TextBox1042 {
width: 250px;
height: 50px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
max-height: 100px;
align-self: auto;
text-align: center;
}
.p-Menu.TextBox1043 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
position: relative;
top: 60px;
left: 60px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.Image460 {
width: 250px;
height: 250px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.p-Menu.TextBox1044 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Menu.TextBox1045 {
width: 250px;
height: 50px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
max-height: 100px;
align-self: auto;
text-align: center;
}
.p-Menu.TextBox1046 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
position: relative;
top: 60px;
left: 60px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.Image461 {
width: 250px;
height: 250px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.p-Menu.TextBox1047 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Menu.TextBox1048 {
width: 250px;
height: 50px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
max-height: 100px;
align-self: auto;
text-align: center;
}
.p-Menu.TextBox1049 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
position: relative;
top: 60px;
left: 60px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.TextBox1050 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #fffbfb;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
position: relative;
top: 60px;
left: 60px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.TextBox1051 {
width: 250px;
height: 50px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
max-height: 100px;
align-self: auto;
text-align: center;
}
.p-Menu.TextBox1052 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Menu.Image462 {
width: 250px;
height: 250px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.p-Menu.TextBox1055 {
width: 50%;
text-align: center;
}
.p-Menu.TextBox1056 {
font-family: DM Sans;
font-weight: 700;
font-size: 42px;
}
.p-Menu.Image475 {
width: 130px;
}
.p-Menu.Image476 {
width: 70px;
}
.p-Menu.Image477 {
width: 130px;
}
.p-Menu.Image478 {
width: 130px;
}
.p-Menu.Image479 {
width: 130px;
}
.p-Menu.Image480 {
width: 80px;
}
.p-Menu.Image481 {
width: 130px;
}
.p-Menu.Image482 {
width: 100px;
}
.p-Menu.Image512 {
;
}
.p-Menu.TextBox1111 {
width: 100%;
font-family: DM Sans;
font-weight: 500;
color: #6a6868;
}
.p-Menu.Image507 {
width: 30px;
height: 30px;
}
.p-Menu.Image508 {
width: 30px;
height: 30px;
}
.p-Menu.Image509 {
width: 30px;
height: 30px;
}
.p-Menu.Image510 {
width: 30px;
height: 30px;
}
.p-Menu.Image511 {
width: 30px;
height: 30px;
}
.p-Menu.TextBox1112 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-Menu.Image503 {
width: 145px;
height: 145px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Menu.Image504 {
width: 145px;
height: 145px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Menu.Image505 {
width: 145px;
height: 145px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Menu.Image506 {
width: 145px;
height: 145px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Menu.TextBox1095 {
padding-right: 40px;
padding-bottom: 20px;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
color: #000000;
}
.p-Menu.TextBox1096 {
;
}
.p-Menu.TextBox1097 {
;
}
.p-Menu.TextBox1098 {
;
}
.p-Menu.TextBox1099 {
;
}
.p-Menu.TextBox1100 {
;
}
.p-Menu.TextBox1101 {
;
}
.p-Menu.TextBox1102 {
;
}
.p-Menu.TextBox1103 {
;
}
.p-Menu.TextBox1104 {
;
}
.p-Menu.TextBox1105 {
;
}
.p-Menu.TextBox1106 {
;
}
.p-Menu.TextBox1107 {
;
}
.p-Menu.TextBox1108 {
;
}
.p-Menu.TextBox1109 {
;
}
.p-Menu.TextBox1110 {
padding-right: 40px;
padding-bottom: 20px;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
color: #000000;
}
